body {
	margin: 0px;
	font-family: "trebuchet ms", Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: justify;
	/*color: #085F00;*/
	color: chartreuse;
}

#menu {
	padding: 1em 2em 1em 0em;
	background: #085F00 top left repeat-x;
	font-size: 2.2em;
}
#menu ul {
	display: block;
	width: 778px;
	margin: 0em auto;
	list-style: none;
	padding-left: 2.5em;
}
#menu li {
	display: inline;
}
#menu a{
	color: white;
}
#menu a:hover {
	color: chartreuse;
}

