{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title_list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">ГЛАВНАЯ</a>
          </li>
        </ul>
    </div>

    <div class="container-fluid">
        <ul class="nav justify-content-center">
            <div class="card" style="width: 18rem;">
              <img src="../../media/image/2023/jac%20if%20custo.jpg" class="card-img-top" alt="img">
              <div class="card-body">
                <p class="card-text">Жак-Ив Кусто́ (фр. Jacques-Yves Cousteau; 11 июня 1910, Сент-Андре-де-Кюбзак, Бордо,
                    Франция — 25 июня 1997, Париж, Франция) — французский исследователь Мирового океана, фотограф,
                    режиссёр, изобретатель, автор множества книг и фильмов. Являлся членом Французской академии.
                    Командор ордена Почётного легиона. Известен как Капитан Кусто (фр. Commandant Cousteau).
                    Совместно с Эмилем Ганьяном в 1943 году разработал и испытал акваланг.
                    В его честь назван уступ Кусто на Плутоне.
                </p>
              </div>
            </div>
        </ul>
    </div>

</body>
</html>