{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title_list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">ГЛАВНАЯ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fotoalbum/">ФОТОАЛЬБОМ</a>
          </li>
        </ul>
    </div>

    <div class="alert alert-secondary" role="alert" align="center">
        <h4>{{ post.title }}</h4>
    </div>
    <p align="center">
        <img src="{{ post.img.url }}" alt="img" width="40%">
    </p>
    <div class="alert alert-secondary" role="alert" align="center">
        <a href="{% url 'add_likes' post.id %}"><h3>Нравится</h3></a>Понравилось:{{ post.likes_set.all.count }}
    </div>

    <div style="margin: 0px 70px">
        <p>{{ post.description }}</p>
        <p>{{ post.author }}</p>
    </div>

    <div class="alert alert-secondary" role="alert" align="center" style="color:dodgerblue">
        <div class="form-comment">
		<h3>Оставить коментарий</h3>
		<div>
			<form action="{% url 'add_comments' post.id %}" method="post">
				{% csrf_token %}
				<div>
					<label>Ваш комментарий</label>
					<textarea name="text_comments"></textarea>
				</div>
				<div>
					<label>Ваше имя *</label>
					<input type="text" name="name">
				</div>
				<div>
					<label>Ваше Email *</label>
					<input type="email" name="email">
				</div>

				<div>
					<input type="submit">
				</div>
			</form>
		</div>
    </div>
        <div class="alert alert-secondary" role="alert" align="center">
                {% for comment in post.comments_set.all %}
                <div class="view-comment">
                    <h4>{{ comment.name }} прокоментировал:</h4>
                    <p>
                        {{ comment.text_comments }}
                    </p>
                </div>
                {% endfor %}
        </div>
</body>
</html>