{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title_list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div id="fon">
      <img src="../../media/image/2023/ua.jpg" width="100%" height="300px">
        <p class="text-center">My travel blog</p>
    </div>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">ГЛАВНАЯ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/fotoalbum/">ФОТОАЛЬБОМ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="about_my/">О БО МНЕ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" target="_blank" href="/admin">АДМИН ПАНЕЛЬ</a>
  </li>
</ul>
    <div>
        <div class="container text-center">

              <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
                  {% for post in post_list %}
                <div class="col">
                  <div class="p-3"><a href="#"><img src="{{ post.img.url }}" alt="img" width="230px" height="150px"/></a></div>
                  <a href="{{ post.id }}"> {{ post.title }}</a>
                </div>
                  {% endfor %}
              </div>

        </div>
    </div>


</body>
</html>